<h4>Options</h4>

<table class="table">
    <tbody>
        @foreach (var item in CurrentChoices ?? new Choice[0])
        {
            <tr>
                <td style="width: 10px"><button class="btn btn-danger btn-sm" @onclick="@(() => OnRemoveChoice.InvokeAsync(item))">X</button></td>
                <td style="width: 50%">@item.Name</td>
                <td style="width: 50px" class="text-right">@item.Weighting</td>
            </tr>
        }

        <tr>
            <td style="width: 10px"><button class="btn btn-success btn-sm" @onclick="@AddNewChoice">+</button></td>
            <td style="width: 50%"><input class="form-control" type="text" @bind="newChoice.Name" id="example-text-input" placeholder="Option"></td>
            <td style="width: 50px"><input class="form-control" type="number" @bind="newChoice.Weighting" id="example-text-input" placeholder="5"></td>
        </tr>
    </tbody>
</table>

@code {
    private ChoiceForm newChoice = new ChoiceForm();

    [Parameter]
    public IList<Choice> CurrentChoices { get; set; } = new List<Choice>();

    [Parameter]
    public EventCallback<Choice> OnAddChoice { get; set; }

    [Parameter]
    public EventCallback<Choice> OnRemoveChoice { get; set; }

    private async Task AddNewChoice()
    {
        var choice = new Choice
        {
            Name = newChoice.Name,
            Weighting = newChoice.Weighting.GetValueOrDefault(),
        };

        await OnAddChoice.InvokeAsync(choice);
        newChoice.Name = string.Empty;
        newChoice.Weighting = null;
    }
}