<div class="row py-4">
    <div class="col-md-3">
        <button @onclick="OnChoose" type="button" class="btn btn-primary">
            Choose
        </button>
    </div>
</div>

<div class="row px-4 py-4">
    <h4>@(Choice ?? "Press the button to make a choice")</h4>
</div>

@code
{
    [Parameter]
    public string Choice { get; set; }
    
    [Parameter]
    public EventCallback OnChoose { get; set; }
}
