<div class="text-center">
    <button @onclick="OnChoose" type="button" class="btn btn-primary btn-lg p-4">
        Choose
    </button>
</div>

@if (Choice != null)
{
    <h1 class="p-4 text-center">@Choice</h1>
}
else
{
    <p class="p-4 text-center">Press the button to make a choice</p>
}

@code
{
    [Parameter]
    public string Choice { get; set; }

    [Parameter]
    public EventCallback OnChoose { get; set; }
}