name: gh-pages
on: 
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code 
      uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Publish with dotnet
      working-directory: ./src
      run: dotnet publish --configuration Release --output build
      
    - name: Save the published artifacts when deploying
      uses: actions/upload-artifact@v1
      with:
        name: artifacts
        path: ./src/build

    - name: Deploy the Github Pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with: 
        ACCESS_TOKEN: ${{ secrets.AccessToken }}
        BASE_BRANCH: master 
        BRANCH: gh-pages
        FOLDER: src/build/wwwroot
        CLEAN: true